{% extends 'header.html' %}
{% load static %}
{% block content %}

{% if err != None %}
<script>
	alert("{{ err }}");
</script>
{% endif %}

<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

<div class="expenses-viewer">
	<div class="expenses-sheet">
		{% for expense in expenses %}
		<div class="container">
			<img src="{% static expense.image|image_url_miniature %}" class="expense-image">
			<div class="expense-description">
				<a class="p-2 text-dark" href="/crm/expenses-{{ expense.id }}">{{ expense.name }}</a>
			</div>
			<div class="expense-quantity">
				<form method="post">
					{% csrf_token %}
					<input type="text" size="6" name="expense" value="{{ expense.id }}" style="visibility: collapse;">
					<input type="text" size="6" name="task" placeholder="№ Задачи" maxlength="7">
					<div class="number">
						<button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
						<input type="number" min="0" name="count" value="{{ expense.quantity }}" readonly>
						<button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
					</div>
					<input type="submit" size="6" value="Я беру!">
				</form>
			</div>

		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
